{% extends 'base.html.twig' %}

{% block title %}Hello PeopleController!{% endblock %}

{% block body %}
    <div id="root">Loading...</div>
    <noscript>To use this app, enable JavaScript</noscript>
    <div>
        Versijuojamas JavaScript failas: <b id="versionedFile">...</b>
    </div>

    <input type="text" id="name"/>
    <span id="validation-result" data-path="{{ path('validatePerson', {'element': 'name'}) }}"></span>
{% endblock %}

{% block javascripts %}
    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ encore_entry_script_tags('validation') }}
    {{ parent() }}
{% endblock %}
