{% extends 'base.html.twig' %}

{% block title %}Hello PeopleController!{% endblock %}

{% block body %}
    <div id="root">Loading...</div>
    <noscript>To use this app, enable JavaScript</noscript>
    <div>
        Versijuojamas JavaScript failas: <b id="versionedFile">...</b>
    </div>

       <form >
        <div class="form-group row" >
            <label class="col-sm-1 col-form-label">Vardas:</label>
            <input type="text" id="name" class="form-control col-sm-2" >
            <span id="validation-result-person" class="h3"  data-path="{{ path('validatePerson', {'element': 'name'}) }}"></span>
        </div>
        <div class="form-group row" >
            <label  class="col-sm-1 col-form-label">Komanda:</label>
            <input type="text" id="team" class="form-control col-sm-2" >
            <span id="validation-result-team" class="h3"   data-path="{{ path('validatePerson', {'element': 'team'}) }}"> </span>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ encore_entry_script_tags('validation') }}
    {{ parent() }}
{% endblock %}
